.weather-container {
    background: transparent;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow:  none;
}
.weather-container h2,
.weather-info h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--grey);
    text-align: center;
}
.search-box {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}
.search-box input {
    flex: 1;
    padding: 8px;
    border: 2px solid var(--medium);
    border-radius: 8px;
    font-size: 14px;
    background-color: var(--light);
}
.search-box button {
    padding: 8px 12px;
    background-color: var(--dark);
    color: var(--grey);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s;
}
.search-box button:hover {
    transform: translateY(-1px);
}
.weather-box {
    text-align: center;
    margin: 10px 0;
}
.weather-box img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.weather-box .temp {
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0;
    color: var(--grey);
}
.weather-box .desc {
    font-size: 16px;
    color: var(--grey);
    text-transform: capitalize;
}
.weather-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid var(--medium);
}
.weather-details span {
    font-size: 18px;
    font-weight: bold;
    color: var(--grey);
}
.weather-details p {
    color: var(--grey);
    margin-top: 2px;
    font-size: 12px;
}
.weather-details .humidity,
.weather-details .wind {
    flex: 1;
    text-align: center;
}
.error {
    color: var(--grey);
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}
